body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url("./images/clockgears.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  background-color: white;
  display: inline-block;
  opacity: 0.7;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 5%;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  color: black;
  font-size: 1em;
  font-family: 'Fredericka the Great', arial;
}

.dialog-button {
  font-size: 0.5em;
  border-radius: 1rem;
  font-family: 'Fredericka the Great', arial;
  cursor: pointer;
}

#myDropdown button {
  border-radius: 2rem;
  font-size: 2.5em;
  font-family: 'Fredericka the Great', arial;
  cursor: pointer;
}

#dialog-counter {
  font-size: 2.5em;
  padding: 1rem;
}

.dialog-container {
  padding: 1rem;
}

#myDropdown {
  text-decoration: none;
  font-size: 0.5em;
  padding: 0.5rem;
  border-radius: 1rem;
  color: black;
  margin: 1rem;
  font-family: 'Fredericka the Great', arial;
}

#myDropdown a:hover {
  cursor: pointer;
  color: white;
}

.countdown {
  font-size: 2em;
}

.increments td{
 padding: 1em;
}

#clockTitle {
  padding: 1rem;
}
